name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Install deps
        run: go mod tidy
      - name: Lint
        run: go vet ./...
      - name: Test
        run: go test ./...
